results/*
results_helix/*
results_landmark/*
results_scan/*
results_sheet/*
other_results/*

testing_history/*

datasets/other/data.csv

*.pyc
*.svg
*.png
*.gif
*.mp4

images/video/*

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# IEEE Template for LaTeX
*.bbl
*.blg
paper/*/*.out
