*.pyc
results/*
results_triangle/*
results_local_smoothing/*
results_pmst/*
results_dmst/*
testing_history/*
*.svg
*.png
*.gif

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# IEEE Template for LaTeX
*.bbl
*.blg
paper/*/*.out
